# Node/TS
node_modules/
dist/
build/
coverage/
*.tsbuildinfo

# Python
__pycache__/
*.pyc
.venv/
.env
.env.*

# Docker/DB
pgdata/
*.log

# Temp
tmp/
*.db

# backups locais
frontend/src/App.backup.tsx
